.Grid-About{
    display: grid;
    row-gap: 1em;
    
}

.Grid-About > * {
    border: .5px solid gray;
    padding: 0.8em;
    line-break: strict;
}

.Grid-About span{
    
    line-break: anywhere;
}

.Grid-About:last-child{
    padding-bottom: 1.2em;
}

.H3-About{
    margin-top: 0;
}

.P-About{
    margin-bottom: 0;
}
  
.NoBorder{
    border: none;
}

/*********** computer ***********/
@media (min-width: 1279px){
    .Grid-About{
        width: 77%;
        margin: 0 auto;
    }

    .Grid-About-Homepage{
        width: 85%
    }
}

.LinkExtern{
    width: 1.5rem;
    aspect-ratio: 1;
    fill: #4bab88ff;
}

.LinkExtern-MarginLeft{
    margin-left: 2rem;
}

.CustomLink{
    color: #4bab88ff;
}

.CustomHeaderLink:active,
.CustomHeaderLink:hover,
.CustomLink:active,
.CustomLink:hover,
.LinkExtern:hover,
.LinkExtern:active
{
    color: #ad81b2ff;   
    fill: #ad81b2ff;  
}



