.Form-Textarea,
.Form-Input{
    width: 100%;
    margin-top: .3em;
}

.Form-Textarea{
    height: 10em;
}

.Text-danger{
    color: green;
}

.Submit-Button{
    padding: .5em 3em;
    margin-top: 1em;
}

.Contact-Headline{
    margin-bottom: 0;
}

.FormDiv{ 
    align-self: center;
    /* width: 280px */
    /* width: ; */
    width: 90%;
    max-width: 700px;
}


.ContactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%
}

@media (min-width: 500px){
    .FormDiv{ 
        align-self: center;
        /* justify-self: center; */
        /* width: 400px */
    }
}

@media (min-width: 768px){

    .Form-Input,
    .FormDiv
    {
        /* width: 600px; */
    }

    .Form-Textarea{
        height: 10em;
        /* width: 600px; */
    }
}

