/* ********************************************* */
/* Template stuff start*/
/* ********************************************* */

.Layout {
 display: flex;
 /* height: 100vh; */
 flex-direction: column;
 /* align-items: stretch; */
}

.Content{
  padding-top: 20px;
  /* margin-bottom: 2e */
}

.Content:last-child{
  margin-bottom: 2em;
}

.Main-Content{
  /* background-color:  #D3EBC5; */
  background-color:rgba(211,235,197,0.7);
  /* opacity: 0.5; */
  flex-basis: 300px;
  flex-grow: 3;
  /* padding-bottom: 1em; */
}

#Layout{
  overflow: visible;
}

.Template-Headline{
  padding-top: 130px;
  margin: 0px;
  margin-bottom: 1em;
}

/* ********************************************* */
/* Template stuff end*/
/* ********************************************* */

.Header,
.Content,
.Footer{
  padding: 0 25px 1em 25px; 
}

@media (min-width: 768px){
    
  .Header,
  .Content{
      padding: 0 50px;
  }

}

.Footer{
  /* background-color:  #AD81B2; */
  background-color: #83e0be;
  flex-basis: 60px;
}

.NoPage-Content{
  text-align: center;
  margin-top: 100px;
}

.active{
  border-bottom: 1px solid black;
}